<div class="todo-container">
  <div>Completed: {{ completedCount() }}</div>
  <div>Active: {{ notCompletedCount() }}</div>

  <div class="form-todo">
    <mat-form-field class="todo-field">
      <mat-label>ToDo</mat-label>
      <input
        matInput
        id="addTest"
        type="text"
        [(ngModel)]="newTitle"
        placeholder="New toDo"
        (keyup.enter)="addToDo(newTitle)"
        #todoInput
      />
    </mat-form-field>
    <button
      (click)="addToDo(newTitle)"
      mat-raised-button
      [disabled]="!newTitle.trim()"
    >
      Add Task
    </button>
  </div>

  <div
    cdkDropList
    [cdkDropListData]="filteredTodos2()"
    (cdkDropListDropped)="drop($event)"
    class="todo-list"
  >
    <div
      *ngFor="let item of filteredTodos2()"
      cdkDrag
      class="todo-item"
      [class.completed]="item.completed"
    >
      <mat-checkbox [checked]="item.completed" (change)="toggle(item.id)">
        {{ item.title }}
      </mat-checkbox>
      <span cdkDragHandle class="drag-icon">
        <mat-icon>drag_indicator</mat-icon>
      </span>
      <button mat-icon-button color="accent" (click)="openEditDialog(item)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="remove(item.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <mat-button-toggle-group
    [(ngModel)]="selectedFilter"
    (change)="applyFilter(selectedFilter)"
  >
    <mat-button-toggle value="all"> All </mat-button-toggle>
    <mat-button-toggle value="active"> Active </mat-button-toggle>
    <mat-button-toggle value="completed"> Completed </mat-button-toggle>
  </mat-button-toggle-group>

  <div class="todo-actions">
    <button
      mat-raised-button
      [color]="sortCompletedLast() ? 'accent' : 'primary'"
      (click)="toggleSortCompletedLast()"
      class="sort-btn"
    >
      <mat-icon class="sort-icon" [class.rotated]="!sortCompletedLast()"
        >arrow_downward</mat-icon
      >
      Completed Last
    </button>
    <button mat-button color="warn" (click)="clearCompl()">
      Clear Completed
    </button>
  </div>
</div>
